body{
    font-family: 'Open Sans', sans-serif;
    margin: 15px;
    padding: 0;
    font-size: 14pt;
    background-color: rgb(250, 218, 178);


}



a.skip:focus{
    color: rgb(41, 170, 9);
    text-decoration-style: solid;
    top: 0px;
  }

.skip a{
    background:  rgb(81, 12, 241);
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
    color:white;
  }


*:focus{
    border: 5px dashed rgb(255, 255, 255);
}

.skip a:focus{
    top:0px;
}

footer{
    background-color: rgb(243, 157, 29);
    color: black;
    padding: 20px;
    text-align: center;
}


#logo{
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right:auto;
    padding-bottom: 10px;
    /* background-color:blue;
    border-radius: 20px;; */

}

#logo1{
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right:auto;
    padding-bottom: 10px;
   

}

/* ================Flipcard CSS==================== */

#mainpagelogo{
    width: 60%;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-bottom: 50px; 
    background-color:rgb(224, 154, 48);;
    border-radius: 40px;
    */
} 

.flipcard{
    background-color: transparent;
    width:200px;
    height: 150px;
    perspective: 1000px;
    margin-left:auto;
    margin-right:auto;
}

.flipcard-inner{
    position:relative;
    width:100%;
    height:100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipcard:hover .flipcard-inner, .flipcard:focus .flipcard-inner{
    transform: rotateY(180deg);
}

.frontlogo, .backlogo{
    position:absolute;
    width: 100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.frontlogo{
    background-color:rgb(224, 154, 48);
    color: white;
    border-radius:40px;
}

.backlogo{
    background-color:rgb(48, 89, 224);
    border-radius:40px;
    color: white;
    transform:rotateY(180deg);
}


p {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10 30px;
    line-height: 1.2;
}


h1{
    font-size: 2em;
    text-align: center;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 30px;
}

h2{
    font-size: 1.5em;
    text-align:center;
    line-height:1.0;
    padding-top:0;
    padding-bottom: 25px;
}

/* nav li{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-right: 20px;
    line-height: 1.2;
  } */

/* ul{
    all:initial;
}

nav ul a{
    all:initial;
} */

  .nav_links{
    display:flex;
    flex-direction:column;
    text-align:center;
}

.nav_links a{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    
}


.nav_links{
    background-color: rgb(206, 126, 7);
    padding: 10px;
    border-radius: 10px;
}

.nav_links a:hover, .nav_links a:focus{
    text-decoration: underline;
    color: rgb(255, 255, 255)
  }


ul.nav_links li a {
    text-decoration:none;
}

ul.nav_links li a.on{
    color:rgb(255, 255, 255);
    padding:2px 6px;
    text-decoration: underline;
}


.listdiv li {
    display:list-item;
    list-style-type: circle;
    margin-left: 30px;
    line-height: 1.2;
}

.listdiv {
    margin-bottom: 40px;
}
/* ===============Home Page BG image============= */

.hero {
    width: 100%;
    height: 400px;
    background-image: url("../images/scrollbg.jpg");
    -webkit-background-size: cover cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    opacity: 0.7;

  }

.hero img{
    
}


.indextitle {
    position:absolute;;
    top: 360px;
    font-size: 28px;
    color:rgb(0, 0, 0);
    font-family: 'Roboto Slab', serif;
    text-align:center;
    margin-left:50px;
    margin-right:50px;

    }


/* =================Pain Points, Observations and Solutions=============== */


.listcard li{
    display:list-item;
    list-style-type: circle;
    margin-left: 30px;
    line-height: 1.2;
}

#observations, #interview{
    padding: 20px;
    border: 3px solid  rgb(243, 157, 29);
    border-radius: 10px;
}

#bottomtext{
    margin-bottom: 40px;
}


/* =====Market Analysis========================== */

.icon_one img{
    width: 100px;
    height: auto;
    
}

.icon_two img{
    width: 90px;
    height:auto;
  
}

.icon_three img{
    width: 100px;
    height:auto;
   
}

.icon_four img{
    width: 100px;
    height: auto;
    
}



.container2{
    border-radius: 20px;
    background-color: white;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: 120px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
    justify-items: center;
    align-items: center;
    gap: 5px;

}



.check1 img, .check2 img, .check3 img, .check4 img, .check5 img, .check6 img, .check7 img, .check8 img, .check9 img, .check10 img, .check11 img, .check12 img, .check13 img, .check14 img, .check15 img, .check16 img{
    width: 30px;
    height:auto;
    
    /* padding-left: 15px; */
}

.cross1 img, .cross2 img, .cross3 img, .cross4 img, .cross5 img, .cross6 img, .cross7 img, .cross8 img{
    width: 30px;
    height:auto;
   
    /* padding-left: 15px; */
}

.textbox1{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black; */
    padding-top:10px;
    text-align:center;
    

}

.textbox2{
    grid-column: 1 / 2;
    grid-row: 3 /  4;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black; */
    padding-top:10px;
    text-align:center;
}
    

.textbox3{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black; */
    padding-top:10px;
    text-align:center;
   
}

.textbox4{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black; */
    padding-top:10px;
    text-align: center;
    
}

.textbox5{
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black; */
    padding-top:10px;
    text-align:center;
    
}

.textbox6{
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    /* border-right: 2px solid black; */
    /* border-bottom: 2px solid black; */
    padding-top:10px;
    text-align:center;
    
}

.icon_one{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black; */
    padding-top:50px;
}

.icon_two{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black; */
    padding-top:50px;
    
    
}

.icon_three{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black; */
    padding-top:50px;
    
    
}

.icon_four{
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black; */
    padding-top:50px;
    
}

.check1{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black; */
    /* padding-top:15px;
    padding-left:10px; */
    
}

.check2{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
    
    
}

.check3{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.check4{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.check5{
    grid-column: 2 / 3;
    grid-row: 7 / 8;
    /* border-right: 2px solid black;
    /* border-bottom: 2px solid black; */
    /* padding-top:15px;
    padding-left:10px; */
}

.check6{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.check7{
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.check8{
    grid-column: 3 / 4;
    grid-row: 7 / 8;
    /* border-right: 2px solid black; */
    /* border-bottom: 2px solid black; */
    /* padding-top:15px;
    padding-left:10px; */
}

.check9{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px;*/
}

.check10{
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px;*/
} 

.check11{
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    /* border-right: 2px solid black; */
    /* border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.check12{
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    /* border-right: 2px solid black; */
    /* border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.check13{
    grid-column: 5 / 6;
    grid-row: 4 / 5;
    /* border-right: 2px solid black; */
    /* border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.check14{
    grid-column: 5 / 6;
    grid-row: 5 / 6;
    /* border-right: 2px solid black; */
    /* border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.check15{
    grid-column: 5 / 6;
    grid-row: 6 / 7;
    /* border-right: 2px solid black; */
    /* border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.check16{
    grid-column: 5 / 6;
    grid-row: 7 / 8;
    /* border-right: 2px solid black; */
    /* border-bottom: 2px solid black; */
    /* padding-top:15px;
    padding-left:10px; */
}

.cross1{
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.cross2{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.cross3{
    grid-column: 3 / 4;
    grid-row: 5 / 6;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.cross4{
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.cross5{
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.cross6{
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.cross7{
    grid-column: 4 / 5;
    grid-row: 6 / 7;
    /* border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-top:15px;
    padding-left:10px; */
}

.cross8{
    grid-column: 4 / 5;
    grid-row: 7 / 8;
    /* border-right: 2px solid black; */
    /* border-bottom: 2px solid black; */
    /* padding-top:15px;
    padding-left:10px; */
}

/* ===================END of MARKET ANALYSIS ====================== */

.textcenter{
    text-align:center;
}

.imgscreen img{
    width: 70vw;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/* =============Service Concept=============== */
.bigbox{
    display: flex;
    flex-direction: column;
}

.box{
    padding-bottom: 30px;
}

.box p{
    text-align: center;
}

.step1{
    border-radius: 20px;
    background-color: rgba(177, 167, 240, 0.788);
    padding: 10px;
    
}
/* 
.step1 p, .step2 p, .step3 p, .step4 p, .setp5 p{
    color:white;
} */

.step2{
    border-radius: 20px;
    background-color: rgba(170, 243, 162, 0.788);
    padding: 10px;
    
}

.step3{
    border-radius: 20px;
    background-color: rgba(248, 184, 179, 0.788);
    padding: 10px;
    
}


.step4{
    border-radius: 20px;
    background-color: rgba(146, 222, 252, 0.788);
    padding: 10px;
    
}


.step5{
    border-radius: 20px;
    background-color: rgba(247, 253, 175, 0.788);
    padding: 10px;
    
}

.old_logo h2{
    font-family: 'Prata', serif;
    text-align: center;
}

.old_logo img{
    width: 70vw;
    height:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.old_colors{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.personabox{
    padding-bottom: 20px;
    background-color: rgba(146, 222, 252, 0.788);
    border-radius: 20px;
    border: 2px solid rgba(9, 81, 109, 0.788);
    padding-left: 20px;
    padding-right: 20px;
}

.personapic img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 5px;
}

.bigpersona{
    display:flex;
    flex-direction:column;
}

.storyproblem1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 240px 80px 250px;
    /* border: 2px solid black; */
    background-color: rgba(248, 184, 179, 0.788);
    border-radius: 20px;
    justify-items:center;
}
/* ==========Storyboarding and UI VD Specs=============== */
.story1{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}
.story1 img{
    width: 250px;
    height:auto;
    justify-content: center;
    padding-top: 20px;
}
.storytext1 p{
    padding-left: 15px;
    padding-right: 15px;
}
.storytext1{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}
.storyscreens1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-left: 20px;
    padding-top: 10px;
}

.storyscreen1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.storyscreen2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.storyscreen3{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.storyscreen1 img, .storyscreen2 img, .storyscreen3 img{
    width: 25vw;
    height:auto;
}

.storyproblem2{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 240px auto;
    /* border: 2px solid black; */
    background-color: rgba(248, 184, 179, 0.788);
    border-radius: 20px;
    justify-items:center;
    padding-bottom: 20px;
}

.story2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.story2 img{
    width: 250px;
    height:auto;
    justify-content: center;
    padding-top: 20px;
}

.storytext2{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.storytext2 p{
    padding-left: 15px;
    padding-right: 15px;
}

.storysolution1{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 240px 100px 370px;
    /* border: 2px solid black; */
    background-color: rgba(146, 222, 252, 0.788);
    border-radius: 20px;
    justify-items:center;
}

.story4{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.story4 img{
    width: 250px;
    height:auto;
    justify-content: center;
    padding-top: 20px;
}

.storytext4{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.storytext4 p{
    padding-left: 15px;
    padding-right: 15px;
}
.storyscreen4 img{
    width: 250px;
    height:auto;
}

.storysolution2{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 240px 80px 270px;
    /* border: 2px solid black; */
    background-color: rgba(146, 222, 252, 0.788);
    border-radius: 20px;
    justify-items:center;
}

.story5{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.story5 img{
    width: 250px;
    height:auto;
    justify-content: center;
    padding-top: 20px;
}

.storytext5{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.storytext5 p{
    padding-left: 15px;
    padding-right: 15px;
}
.storyscreen5 img{
    width: 250px;
    height:auto;
}
/* ============ */

.storysolution3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 240px 80px 230px;
    /* border: 2px solid black; */
    background-color: rgba(146, 222, 252, 0.788);
    border-radius: 20px;
    justify-items:center;
}

.story6{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.story6 img{
    width: 250px;
    height:auto;
    justify-content: center;
    padding-top: 20px;
}
.storytext6 p{
    padding-left: 15px;
    padding-right: 15px;
}
.storytext6{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.storyscreens2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding-left: 20px;
    padding-top: 10px;
}

.storyscreen6{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.storyscreen7{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.storyscreen6 img, .storyscreen7 img{
    width: 40vw;
    height:auto;
}

/* ====================== Benefits */

.storybenefits1{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 180px 80px 220px;
    /* border: 2px solid black; */
    background-color: rgba(170, 243, 162, 0.788);
    border-radius: 20px;
    justify-items:center;
}

.story7{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.story7 img{
    width: 250px;
    height:auto;
    justify-content: center;
    padding-top: 20px;
}

.storytext7{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.storytext7 p{
    padding-left: 15px;
    padding-right: 15px;
}
.storyscreen8 img{
    width: 250px;
    height:auto;
}
/* 
=====benefits 2nd screen=== */

.storybenefits2{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 80px 290px;
    /* border: 2px solid black; */
    background-color: rgba(170, 243, 162, 0.788);
    border-radius: 20px;
    justify-items:center;
}

.story8{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.story8 img{
    width: 250px;
    height:auto;
    justify-content: center;
    padding-top: 20px;
}

.storytext8{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.storytext8 p{
    padding-left: 15px;
    padding-right: 15px;
}
.storyscreen9 img{
    width: 250px;
    height:auto;
}

/* ================benefits 3rd screen====== */

.storybenefits3{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 240px 80px;
    /* border: 2px solid black; */
    background-color: rgba(170, 243, 162, 0.788);
    border-radius: 20px;
    justify-items:center;
}

.story9 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.story9 img{
    width: 250px;
    height:auto;
    justify-content: center;
    padding-top: 20px;
}

.storytext9{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.storytext9 p{
    padding-left: 15px;
    padding-right: 15px;
}

/* ============UI Wireframes================================= */


.wireframes1, .wireframes2, .wireframes3{
    display:flex;
    flex-direction: row;
    overflow-x: scroll;
    border-radius: 30px;
    padding-bottom: 40px;;
}

.signup1 img, .signup2 img, .home1 img, .home2 img, .home3 img, .home4 img, .home5 img, .water1 img, .water2 img, .water3 img, .water4 img, .water5 img{
    width: 91vw;
    height: auto;
}

/* ==========VD final screens============ */

.visualdesignscreens img{
    width: 91vw;
    height:auto;
}

.visualdesignscreens{
    display:none;
}

.carousel{
    height:660px;
    perspective:250px;
}

.carousel .carousel-item{
    width:200px;
}

/* ======= VD Specifications ====== */

.colorpalette{
    display:flex;
    flex-direction: column;

}

.colorpalette img{
    width: 40px;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.colortag{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

.boxbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.typography h1{
    font-size: 30pt;
    text-align: center;
}

.typography h2{
    font-size: 24pt;
    text-align: center;
}

.typography p{
    font-size: 18pt;
    text-align: center;
}

.typography{
    padding-bottom: 30px;
}

/* ==============End of VD start of Contact Form============ */
form {
    border: 3px solid #f1f1f1;
    padding: 10px;
  }
  
  legend{
    font-size: 125%;
    font-style: bold;
    text-transform: uppercase;
    text-align: center;
  }
  
  label{
    display: inline-block;
    margin-right:10px;
    width:15%;
  }
  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  span{
    margin-left:20%;
    font-family: italic;
    font-weight: bold;
  }
  
  textarea{
    width: 100%;
    height: 35vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  
  input[type=checkbox]{
      display:inline;
      width:inherit;
  }
  
  input[type=submit] {
    background-color: #38803C;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
  
  /* ================= Contact form Media Query ======================
  
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (min-width: 770px) {
    form{
      width: 80%;
      margin: 0 auto;
    }
  
    input{
      width:80%;
    }
  
    textarea{
      width:80%;
      height: 25vh;
   }
   
   div + label{
      line-height: 25vh;
      vertical-align:top;
   }
  }
/*==========================================================*/
/*========Different Screen Size Media Queries=========*/

/* =============Ipad Tablet Screen================= */
@media screen and (min-width: 700px){

    /* Body except Nav menu bar */
    main{
        padding-left: 15vw;
        padding-right: 15vw;
        
    }

    /* Nav Bar Flex */
    .nav_links{
        flex-direction:row;
    }

    .nav_links li{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
       
    }

    /* Pain points and Observations */
  

    .container1{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    #observations, #interview{
        animation: pulse 5s infinite;
        border: none;

    }

    @keyframes pulse{
        0%{
            background-color: rgb(243, 157, 29);
        }
        60%{
            background-color: rgb(52, 170, 216);
        }

        100%{
            background-color: rgb(243, 157, 29);
        }
    }


    .outerbox1{
        padding-top:10px;
        border: 3px solid rgb(243, 157, 29);
        border-radius: 10px;
    }

    /* ==============MARKET ANALYSIS=============== */

    .container2{
        border-radius: 20px;
        overflow-x: scroll;
        display: grid;
        grid-template-columns: 120px 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
        /* justify-items: center; */
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
        gap: 2px;
    }

    /* ============Competitor Screens============ */

    .imgscreen img{
        width: 30vw;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
    .wechatbox{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /* ==============Service Concept==================== */
    .bigbox{
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .box{
        max-width: 200px;
        min-height: 300px;
        padding: 10px;
    }

    .step1, .step2, .step3, .step4, .step5{
        min-height: 120px;
        align-items: center;
    }

    .old_logo img{
        width: 30vw;
        height:auto;
        display:block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
    }

    .bigpersona{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }

    .personabox{
        max-width: 29vw ;
    }

/* ===============Storyboard and UIVD Specs Page================== */

    .storyscreens1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 10px;
        justify-content: center;
        
    }

    .storyscreens1 img{
        max-width: 150px;
       
    }

    .storyproblem1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 240px 80px auto;
        padding-bottom: 20px;
    }


    .storyscreens2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 10px;
        justify-content: center;
        
    }

    .storyscreens2 img{
        max-width: 150px;
       
    }

    .storybenefits1{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 180px auto auto;
        /* border: 2px solid black; */
        background-color: rgba(170, 243, 162, 0.788);
        border-radius: 20px;
        justify-items:center;
        padding-bottom: 20px;
    }

    .storybenefits2{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 200px auto auto;
        /* border: 2px solid black; */
        background-color: rgba(170, 243, 162, 0.788);
        border-radius: 20px;
        justify-items:center;
        padding-bottom: 20px;
    }

    .storybenefits3{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 240px auto;
        /* border: 2px solid black; */
        background-color: rgba(170, 243, 162, 0.788);
        border-radius: 20px;
        justify-items:center;
        padding-bottom: 20px;;
    }



    .storysolution1{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 240px auto 370px;
        /* border: 2px solid black; */
        background-color: rgba(146, 222, 252, 0.788);
        border-radius: 20px;
        justify-items:center;
    }




    .signup1 img, .signup2 img, .home1 img, .home2 img, .home3 img, .home4 img, .home5 img, .water1 img, .water2 img, .water3 img, .water4 img, .water5 img{
        width: 30vw;
        height: auto;
    }

    .visualdesignscreens img{
        width: 30vw;
        height:auto;
       
    }


    /* ==================Final VD Screen Carousel========== */
    .visualdesignscreens{
        display:none;
    }

    .carousel{
        height:650px;
        perspective:250px;
    }

    .carousel .carousel-item{
        width:200px;
    }

}

/* ==================Desktop Screen Size================= */

@media screen and (min-width: 1350px){

    main{
        padding-left: 15vw;
        padding-right: 15vw;
        
    }

    .nav_links{
        flex-direction:row;
        justify-content: flex-end;
    }

    h1{
        text-align: left;
    }

    h2{
        text-align: left;
    }

    .toptext h2{
        text-align:center;
    }

    #bottomtext h2{
        text-align:center;
    }

    #logo{
        width: 200px;
        height: auto;
        margin: 0;
        padding-left:100px;
    }

    #logo1{
        width: 300px;
        height: auto;
        margin: 0;
        padding-left:100px;
        padding-bottom:8px;
    }

    .problembox{
        display:flex;
        flex-direction: row;
        justify-content: space-around
    }

    .solutionbox{
        display:flex;
        flex-direction: row;
    }

    .benebox{
        display: flex;
        flex-direction: row;
    }


    .storyproblem1, .storyproblem2, .storysolution1, .storysolution2, .storysolution3, .storybenefits1, .storybenefits2, .storybenefits3{
        max-width: 800px;
        margin: auto auto;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 10%;
    }


    .typography h1{
        font-size: 30pt;
        text-align: left;
        padding-right: 50px;
    }
    
    .typography h2{
        font-size: 24pt;
        text-align: left;
        padding-right: 50px;
    }
    
    .typography p{
        font-size: 18pt;
        text-align: left;
        padding-right: 50px;
    }

    .typography{
        display:flex;
        flex-direction: row;
        align-items:baseline;
    }

    .signup1 img, .signup2 img, .home1 img, .home2 img, .home3 img, .home4 img, .home5 img, .water1 img, .water2 img, .water3 img, .water4 img, .water5 img{
        width: 20vw;
        height: auto;
    }

    .visualdesignscreens img{
        width: 20vw;
        height:auto;
       
    }

    .hero {
        width: 100%;
        height: 800px;
        background-attachment: fixed;
        
      }

    
    .indextitle {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        font-size: 52px;
        color:rgb(0, 0, 0);
        font-family: 'Roboto Slab', serif;
        text-align:center;
    /*         z-index:100; */
        height:0;
        
        }
}


/* =======================Reduce Motion====================== */

@media screen and (prefers-reduced-motion: reduce) { 

    #observations, #interview{
        
        animation: pulse 0s infinite;
        background-color: rgb(243, 157, 29);

    }

    .carousel{
        display:none;
    }

    .visualdesignscreens{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    /* .flipcard{
        display:flex;
    } */

    .flipcard-inner{
        transition: transform 0s;
    }

  }
















